input[type=datetime-local] {
    font-family: 'Oswald', serif;
    width: 200px;
    border-radius: 5px;
    border:1px solid #cccccc
}

.dates-container {
    height: 100%;
    width: 100%;
}

.date-container {
    width: 250px;
    display: inline-block;
}

.date-pair-container {

}

.error {
    display: inline;
    color: red;
}

h3 {
    margin: 0;
}