input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + label, input[type=radio]:checked + label {
    background-color: #8DCB00;
    border: black 1px;
}

label {
    width: 100%;
}

input[type=date] {
    text-align: center;
}

h3 {
    margin: 0;
}

input[type=text], input[type=number], textarea, input[type=datetime-local], input[type=date] {
    font-family: 'Oswald', serif;
    width: 97%;
    height: 17px;
    border-radius: 5px;
    border:1px solid #cccccc
}

textarea {
    height: 34px;
}

.add-info {
    float: right;
    margin-right: 4px;
    margin-left: 4px;
}

.remove-info {
    float: right;
    margin-right: 4px;
    margin-left: 4px;
}

.promotion-types-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.promotion-type-container {
    flex-basis: 20%;
    display: flex;
}

.promotion-type-wrapper {
    flex-basis: 98%;
    text-align: center;
}

.promotion-type {
    display: flex;
}

.promotion-type-info {
    margin-bottom: 5px;
}

.button-label {
    background-color: #2C4F81;
    color: white;
    margin-bottom: 3px;
    border-radius: 3px;
}

.button-label:hover {
    background-color: #3D6DB2;
    cursor: pointer;
}

.promotion-type-info-tab {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.promotion-type-info-tab-content {
    max-height: 0;
    overflow: hidden;
    /*-webkit-transition: height .35s;*/
    /*-moz-transition: height .35s;*/
    /*-ms-transition: height .35s;*/
    /*-o-transition: height .35s;*/
    /*transition: height .35s;*/
}

/*input:checked ~ .promotion-type-info-tab-content {*/
    /*max-height: 100%;*/
/*}*/

.test {
    display: flex;
}

.active {
    max-height: 100%;
}

.arrow {
    float: right;
    margin-right: 3px;
    margin-top: 3px;
}

.flip {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}