@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One");
@import url("https://fonts.googleapis.com/css?family=Oswald");

.create-promotion-form-container {
    font-family: 'Oswald', serif;
}

.promotion-preview {
    -ms-text-align-last: right;
    text-align: center;
}

.promotion-headline {
    font-family: "Pathway Gothic One", serif;
    color: white;
    background: #8DCB00;
    border: 1px;
    width: 325px;
    text-align: center;
    padding: 5px 20px 5px 5px;
    font-size: 35px;
    margin: 30px 0 25px 0;
    text-transform: uppercase;
}

.promotion-classifier {
    font-family: "BlackJack", serif;
    text-transform: none !important;
    -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
    transform: rotate(-30deg);
    color: #2C4F81;
    float: left;
    display: block;
    font-size: 40px;
    margin-top: -15px;
}